<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mettre.provider.dao.DeptDao">
    <insert id="addDept" parameterType="Dept">
        INSERT INTO t_dept (DNAME,DB_SOURCE) VALUES (#{dName},DATABASE());
    </insert>
    <select id="findById" resultType="Dept" parameterType="long">
        SELECT
            DEPT_NO deptNo,
            DNAME dName,
            DB_SOURCE dbSource
        FROM
            t_dept
        WHERE
            DEPT_NO = #{deptNo};
    </select>
    <select id="findAll" resultType="Dept">
        SELECT
            DEPT_NO deptNo,
            DNAME dName,
            DB_SOURCE dbSource
        FROM
            t_dept;
    </select>
</mapper>